*.exec
*.o
.vscode/ipch/a241f3c444ff4060/mmap_address.bin
.vscode/ipch/a241f3c444ff4060/primos_th.ipch
Threads/prime
Threads/afinidade.c
Threads/prioridade.c
.vscode/ipch/b9cacd65306e77d8/prioridade.ipch
.vscode/ipch/b9cacd65306e77d8/mmap_address.bin
Threads/prioridade
escalonador.c
.vscode/ipch/3188fadd5bff41aa/id.ipch
.vscode/ipch/3188fadd5bff41aa/mmap_address.bin
.vscode/ipch/b38c9618d56eb5c3/mmap_address.bin
.vscode/ipch/b38c9618d56eb5c3/second.ipch
.vscode/ipch/bf0b5b9501d9c910/afinidade.ipch
.vscode/ipch/bf0b5b9501d9c910/mmap_address.bin
Threads/afinidade
Threads/second
.vscode/ipch/10c3152d326b6791/mmap_address.bin
.vscode/ipch/10c3152d326b6791/server.ipch
.vscode/ipch/29f630002f3d4cd4/filosofo_wait.ipch
.vscode/ipch/29f630002f3d4cd4/mmap_address.bin
.vscode/ipch/7b1ea88f0e8135ed/client.ipch
.vscode/ipch/7b1ea88f0e8135ed/mmap_address.bin
.vscode/ipch/f23440367572e2c0/mmap_address.bin
.vscode/ipch/477a7e9d47bc715e/CGM.ipch
.vscode/ipch/477a7e9d47bc715e/mmap_address.bin
.vscode/ipch/7ca59482d63e9906/mmap_address.bin
.vscode/ipch/7ca59482d63e9906/primos_th.ipch
.vscode/ipch/93c612d62950d8ec/escalonador.ipch
.vscode/ipch/93c612d62950d8ec/mmap_address.bin
.vscode/ipch/9ec1fc93773c7c1b/consumer.ipch
.vscode/ipch/9ec1fc93773c7c1b/mmap_address.bin
Threads/consumer
.vscode/ipch/c294967acf8789e2/mmap_address.bin
.vscode/ipch/5f350d71253f8f05/chat_cliente.ipch
.vscode/ipch/5f350d71253f8f05/mmap_address.bin
.vscode/ipch/bbeaeaa9d8d83078/chat_server.ipch
.vscode/ipch/bbeaeaa9d8d83078/mmap_address.bin
.vscode/ipch/c294967acf8789e2/periodic.ipch
CGM/glucose.txt
CGM/cgm
